body {
    font-family: 'Roboto';font-size: 22px;
}

.header {
    width: max-content;
    height: 30%;
    position: fixed;
    margin: 0%;
    background-image: url(/randomMaxOut/headerImage.jpg);
    border: 1px solid red;
  }

.weekday-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: none;
  }

  
  .weekday-container > div {
    width: 1279px;
    margin-top: 374px;
    margin-bottom: 573px;
    margin-left: 56px;
    margin-right: 56px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }