body {
    font-family: 'Roboto';font-size: 22px;
}

.header {
  padding: 60px;
  background: #1abc9c;
}


.weekday-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: none;
  }

  
  .weekday-container > div {
    width: 1279px;
    margin-top: 374px;
    margin-bottom: 573px;
    margin-left: 56px;
    margin-right: 56px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
