#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 2;
  overflow: scroll;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-add-session-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 4vmin;

  width: 60%;
  height: 75%;

  z-index: 2;
}

.overlay-add-session-card {
  display: flex;
  flex-direction: column;
  min-height: 230px;
  cursor: default;
}

.overlay-add-session-card-color {
  height: 50%;
}

.overlay-add-session-card-sub-container {
  background-color: rgb(245, 245, 245);
  flex: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vmin;
}

.overlay-add-session-card-headline {
  font-size: 18px;
  font-weight: bold;
}

.overlay-add-session-card-subtext {
  width: 100%;
  font-size: 14px;
}

button.overlay-add-session-add-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: rgb(98, 2, 238);

  background-color: transparent;
  border: transparent;

  padding: 0;

  cursor: pointer;
}

button.overlay-add-session-add-button:focus {
  outline: 0;
}
