.added-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;

  width: 80%;
  height: 70%;
  align-self: center;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.added-card-color {
  height: 40%;
}

.added-card-subcontainer {
  flex: auto;
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-template-rows: 1.6fr 2.5fr 0.5fr;
}

.added-card-headline {
  padding: 0 0.5vmin 0 1vmin;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
}

.added-card-subtext {
  padding: 0 0.5vmin 0 1vmin;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  align-self: center;
}

.delete {
  padding: 0 0.5vmin 0 1vmin;
  font-weight: bold;
  color: rgb(98, 2, 238);
  font-size: 15px;

  cursor: pointer;
}

.delete:focus {
  outline: 0;
}

@media only screen and (max-width: 600px) {
  .added-card {
    height: 80%;
    display: flex;
  }

  .added-card-subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .added-card-headline {
    font-size: 14px;
  }

  .added-card-subtext {
    display: none;
  }

  .delete {
    font-size: 12px;
    align-self: center;
  }
}
