.exercise-wrapper {
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.exercise-header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(86, 204, 242);
}

.current-weekday {
  flex: 1;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
}

.return-button-wrapper {
  flex: 1;
}

.return-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: rgb(98, 2, 238);

  background-color: transparent;
  border: transparent;
  outline: transparent;

  cursor: pointer;

  position: absolute;
  right: 0%;
  margin-right: 0.5%;
  margin-top: 0.5%;
  font-size: 1.2rem;
}

.exercise-body-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 5fr repeat(3, 2fr) 8fr 1fr;
  grid-auto-rows: fit-content(0px);
}

.exercise-title,
.exercise-content {
  text-align: center;
}

.exercise-title {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise-number {
  font-weight: bold;
  font-size: 1.5rem;
}

.exercise-add-button-wrapper,
.exercise-delete-button-wrapper {
  display: flex;
  justify-content: center;
}

.exercise-delete-button,
.exercise-add-button {
  font-size: 3rem;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  cursor: pointer;
}

.note-input {
  width: 100%;
  height: 100%;
  background-color: #ededed;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid black;
  font-family: 'Roboto';
  font-size: 1rem;
}

.note-input:focus {
  outline: none;
}

.weight-input {
  padding: 5px;
  background-color: #ededed;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid black;
  font-family: 'Roboto';
  text-align: center;
  font-size: 1rem;
}

.weight-input:focus {
  outline: none;
}

.exercise-dropdown,
.rep-dropdown,
.set-dropdown {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  font-family: 'Roboto';
  font-size: 1rem;
}

.exercise-dropdown {
  width: 70%;
}

.exercise-dropdown:focus,
.rep-dropdown:focus,
.set-dropdown:focus {
  outline: none;
}

.exercise-dropdown-delete-me {
  width: 70%;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  font-family: 'Roboto';
  font-size: 1rem;
}
