html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

.wrapper_2 {
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

.header_2 {
  background-color: coral;
}

.exercise-body-container {
  display: grid;
  grid-template-columns: 1fr repeat(4, 4fr) 10fr;
}

.exercise-header,
.exercise-content {
  text-align: center;
}
