/*generic stuff*/

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 22px;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/*designing the cards itself*/

#snatch-card {
  background-color: rgb(86, 204, 242);
}

#clean-card {
  background-color: rgb(155, 81, 224);
}

#accessorie-card {
  background-color: rgb(242, 201, 76);
}

#restday-card {
  background-color: rgb(224, 224, 224);
}

/*everything for the generic layout of the site including media queries*/

.wrapper {
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr;
  height: 100%;
  width: 100%;
}

.header {
  background-image: url('../../media/headerImage.jpg');
  background-size: cover;
  filter: grayscale(70%);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1%;
}

.week-calendar-input-field {
  font-family: 'Roboto';
  font-size: 1.5rem;
}

.calendar {
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  background: whitesmoke;
}

.weekday {
  display: flex;
  flex-direction: column;
}

.day-string {
  align-self: center;
}

button.add-session {
  background-image: linear-gradient(to right, #606c88 0%, #3f4c6b 100%);
}
button.add-session {
  font-family: 'Roboto';
  font-size: 20px;

  border-width: 0;
  outline: none;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-size: 200% auto;

  color: white;

  transition: 0.75s;

  align-self: center;

  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 10%;
  padding-left: 8%;
}

button.add-session:hover,
button.add-session:focus {
  background-position: right center;
  cursor: pointer;
}

button.add-session:active {
  background-color: black;
  transform: translateY(4px);
}

@media only screen and (max-width: 600px) {
  .calendar {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: auto;
  }

  .weekday {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 4vmin;
  }
}
