.overlay-delete-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.88);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
}

.overlay-delete-dialog-box {
  max-width: 280px;
  height: auto;
  padding: 0.8rem;
  background: #ffffff;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: default;
}

.overlay-delete-title {
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.overlay-delete-subtitle {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0.8rem;
}

.overlay-delete-buttons {
  display: flex;
  justify-content: space-around;
}

.overlay-delete-button-cancel,
.overlay-delete-button-confirm {
  letter-spacing: 1.25px;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #6200ee;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
