/*generic stuff*/

html{
  box-sizing: border-box;
}

body {
    font-family: 'Roboto';font-size: 22px;
    width: 100vw;
    height: 100vh;
    margin: 0;
}


/*everything for the card selection modal*/

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 2;
  overflow: hidden;
  cursor: default;
  display: none;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  width: 60%;
  height: 75%;

  z-index: 2;
}

.card-container > div {
  margin: 2%;
}

.card {
  height: 45%; 
  width: 35%;
}

/*designing the cards itself*/

.card-color{
  width: auto;
  height: 55%;
}

.card-sub-container {
  background-color: rgb(245,245,245);
  width: auto;
  height: 45%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vmin;
}

.card-headline {
  font-size: 18px;
  font-weight: bold;
}

.card-subtext {
  font-size: 14px;
}

button.add {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: rgb(98,2,238);

  background-color: transparent;
  border: transparent;

  padding: 0;

  cursor: pointer;
}

/*snatch card*/
#snatch-card {
  background-color: rgb(86,204,242);
}

/*clean card*/
#clean-card {
  background-color: rgb(155,81,224);
}

/*accessorie card*/
#accessorie-card{
  background-color: rgb(242,201,76);
}

/*restday card*/
#restday-card{
  background-color: rgb(224,224,224);
}

/*everything for the generic layout of the site including media queries*/

.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr;
  height: 100%;
}

.header{
  background-image: url("../media/headerImage.jpg"); 
  background-size: cover;
  filter: grayscale(70%);
}

.calender{
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  background: whitesmoke;
}

.weekday {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.day-string{
  align-self: center;
}

#add-mo-session{
  font-family: 'Roboto';font-size: 20px;
  
  border-width: 0;
  outline: none;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: rgba(112, 128, 144, 0.863);
  color: white;

  transition: background-color .3s;

  align-self: center;

  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 10%;
  padding-left: 8%;


}

#add-mo-session:hover, 
#add-mo-session:focus {
  background-color: rgb(47,79,79);
  cursor: pointer;
}

#add-mo-session:active {
  background-color: black;
  transform: translateY(4px);
}



@media only screen and (max-width: 600px){

  .calender{
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: auto;
  }

  #add-mo-session{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 4%;
  }

  .card-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  
  
    /* position: fixed;  */
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
  
    width: 60%;
    height: 85%;
  
    z-index: 2;
  }

  .card-container > div {
    margin: 3%;
    margin-left: 5%;
  }

  .card {
    height: 20%; 
    width: 90%;
  }

  .card-sub-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 2vmin;
  }

  .card-headline{
    align-self: center;
  }

  .card-subtext{
    display: none;
  }
}